######## For Files ########
## Use local files
ENV=local

##  For S3 bucket access
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET=tulsa-city-council
MINUTES_FOLDER=minutes

######## For Speaker Identification ########
OPENAI_API_KEY=
GOOGLE_API_KEY=
